use flake
export TF_VAR_nixos_lxc_image_path="$PWD/nixos-lxc"
export TF_VAR_k3s_server_vm_image_path="$PWD/nixos-vm-k3s-server"
export TF_VAR_nixos_dns_vm_image_path="$PWD/nixos-vm-dns"
export KUBECONFIG="$PWD/.kubeconfig"
source_env_if_exists .envrc.local
