.envrc.local
.direnv/
.terraform/
*.tfstate
*.tfstate.*
/nixos-*
/nixos-vm
.kubeconfig
nixos/hosts/**/certs/
nixos/settings/networking/configuration.nix
secrets/sealed-secrets
terraform/hosts/001/.haos/
MODELS.md
